<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
</head>
<body>
<div class="container my-5">

    <div class="row d-flex justify-content-center"><p>

    </p>
        <div class="col mx-auto col-md-5"><a th:href="@{/customers/create}">
            Add new customer
        </a>
            <table class="table table-hover table-striped ">
                <thead>
                <div class="card">
                    <tr>
                        <th scope="col">name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Address</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                        <th scope="col">View</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="customer:${customers}">
                    <td th:text="${customer.name}"></td>
                    <td th:text="${customer.email}"></td>
                    <td th:text="${customer.address}"></td>
                    <td><a th:href="@{/customers/{id}/edit(id=${customer.getId()})}">edit</a></td>
                    <td><a th:href="@{/customers/{id}/delete(id=${customer.getId()})}">delete</a></td>
                    <td><a th:href="@{/customers/{id}/view(id=${customer.getId()})}">view</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<footer th:replace="/layout :: footer"></footer>
</html>

